<div style="margin-left: 20px;margin-top: 100px;">
  <lib-input-dropdown-number [label]="'Normal sync demo'"
                             [menuHeader]="'Select age'"
                             [isRequired]="true"
                             [disabled]="disabled"
                             [disabledFn]="dropdownDisabledFn()"
                             [placeholder]="'Select age...'"
                             [min]="3000"
                             [max]="3100"
                             [inUsedNumbers]="[3002,3005]"
                             (changeItem)="setActiveItem($event)">
  </lib-input-dropdown-number>
  {{curAge}}
</div>
<button class="btn btn-primary" (click)="toggleDisabled()">
  切换状态
</button>
<button class="btn btn-primary" (click)="checkValue()">
  触发检查
</button>
